<!DOCTYPE html>
<html>
  <head>
    <title>Asesoríass P6</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/nav.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Montserrat|Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h4><a class="navbar-brand mb-0 h1" href="/">Asesoríass P6<a></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
         <ul class="navbar-nav mr-auto">
          <form class="form-inline" action="/search" method="get">
            <select class="form-control" name="subject">
              <% var subjects = ["Historia Universal", "Lengua Española", "Matematicas IV", "Lógica", "Historia de México",
              "Literatura Universal", "Matematicas V", "Ética", "Quiímica", "Informática", "Biología", "Física"]; %>
              <%for (var sub of subjects) { %>
                <option value="<%= sub%>"><%= sub%></option>
              <% } %>
            </select>
            <button class="btn btn-outline-success my-sm-0" type="submit">Buscar</button>
          </form>
          <span id="cambio"></span>
      </div>
    </nav>
    <!--Modal de asesorías (las odio pq son lasrgas pero hermosas) -->
    <div class="modal fade"  tabindex="-1" id="modalAse" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="subject"><!--Aquí va la materia--></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="bodyModalAse">
            <div class="card card-body" id="asesor"></div>
            <div class="card card-body" id="quota"></div>
            <div class="card card-body" id="days"></div>
            <div class="card card-body" id="horario"></div>
            <div class="card card-body" id="classroom"></div>
            <div class="card card-body" id="description"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="soliAse">Solicitar asesoría</button>
          </div>
        </div>
      </div>
    </div>
    <%- body %>


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/nav.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
