/* COLORES
  Café: #463f3a
  Gris-café: #8a817c
  Gris: #bcb8b1
  Blanco: #f4f3ee
  Rosa: #e0afa0
*/
.navbar{
  background-color: #8a817c !important;
  font-size: 2em;
  color: #e0afa0 !important;
}
#navbarTogglerDemo02{
  font-size: 1em !important;

}
#add{
  width: 60px;
  height:60px;
  background-color:#A13D63;
  margin: 5px;
  padding: 4px;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px;
  font-size:5em;
  line-height:32px;
  float:right;
  color:#fff;
  text-decoration:none;
  -webkit-transition-duration: 0.4s;
}
#add:hover{
  color: #A13D63;
  background-color: #fff;
  border-color: #A13D63;
  cursor: pointer;
}
