#info{
  margin: 1% 10%;
  background-color: #bcb8b1;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #463f3a;
}
#info div{
  padding: 20px;
  text-align: left;
}
#me{
  text-align: center;
  font-size: 4em;
  font-family: 'Patua One', cursive;
  padding: 0% !important;
  color: #463f3a;
}
#dv_desc{
  text-align: right !important;
  margin-top: 0% !important;
  padding: 0% !important;
}
#desc{margin: 0% !important;}
#dv_user{
  margin: 20px;
  text-align: center;
}
.elemPerfil{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
