<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/login.css">
  </head>
  <body style="background:#e0afa0;">
      <div class="container"  style="margin-top: 10%;">
        <div class="modal-content" style="background: #f4f3ee;">
          <div class="modal-header">
            <h5 class="modal-title" id="modalll">Registro</h5>
          </div>
          <div class="modal-body">
            <!-- <form action="/logup" method="post"> -->
              <div class="form-group">
                  <label for="accountNumber">*Número de cuenta: </label>
                  <input type="text" class="form-control" id="accountNumberUp" />
              </div>
              <div class="form-group">
                  <label for="userName"  class="col-form-label">*Nombre de usuario: </label>
                  <input type="text" class="form-control" id="userName" />
              </div>
              <div class="form-group">
                  <label for="password"  class="col-form-label">*Contraseña: </label>
                  <input type="password" class="form-control" id="pass" />
                  <small class="form-text text-muted">Mínimo 8 caracteres</small>
                  <label for="password2"  class="col-form-label">*Confirmar contraseña: </label>
                  <input type="password" class="form-control" id="pass2" />
              </div>
              <div class="form-group">
                  <label for="description"  class="col-form-label">Descripción: </label>
                  <textarea class="form-control" id="description" placeholder="Me gustan las mates y los perros"></textarea>
              </div>
              *Campos obligarotios
              <div class="modal-footer">
                <button class="btn btn-primary" id="Registrarse" >Registrarse</button>
              </div>
          <!-- </form> -->
          </div>
        </div>
      </div>
  </body>
  <script src="/js/logup.js"></script>
</html>
