<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      #info{
        margin: 5% 10%;
        background-color: #bcb8b1;
        padding: 10px;
        border-radius: 10px;
      }
      #info div{
        padding: 10px;
        text-align: center;
      }
      .camb{
        margin: 0 42.5% !important;
        background-color: #e0afa0 !important;
        border-color: white !important;
      }
      #desc{
        margin: 2% 42% !important;
      }
    </style>
  </head>
  <body>
    <div id="info">
      <% user = JSON.parse(user) %>
      <div><%= user.id %> </div>
      <div ><%= user.name %> </div>
      <div contenteditable="true"><%= user.description %> </div>
      <button id="desc" class="btn btn-primary camb">Actualizar descripción</button>
      <button class="btn btn-primary camb" data-toggle="modal" data-target="#modalPass">Cambiar contraseña</button>
    </div>
    <div class="container" id="solis">

    </div>
    <div class="container" id="porTomar">

    </div>
    <div class="container" id="porDar">

    </div>

    <!-- Modal para cambiar contraseña -->
    <!-- Modal -->
    <div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cambiar contraseña</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="pass" class="col-sm-2 col-form-label">Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="pass" placeholder="Password">
              </div>
            </div><div class="form-group row">
              <label for="newpass" class="col-sm-2 col-form-label">Nueva contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control news" id="newpass" placeholder="Password">
              </div>
            </div><div class="form-group row">
              <label for="newpass2" class="col-sm-2 col-form-label">Confimar contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control news" id="newpass2" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="change">Cambiar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">

    let elem = ["porDar", "porTomar"]
    for(ele of elem){
      $.ajax({
        url: "/"+ele,
        method: "POST",
      }).done((response)=>{
        var aux = JSON.parse(response);
        for (var ase of aux){
          let maq = "<div class=\"container\" style=\"margin-top: 15px;\">"
            maq += "<a href=\"#\" class=\"list-group-item list-group-item-action flex-column align-items-start\">"
              maq += "<div class=\"d-flex w-100 justify-content-between\">"
                maq += "<h5 class=\"mb-1\">"+ ase.subject +"</h5>"
                maq += "<small>"+ ase.starts +"-"+ ase.ends +"</small>"
              maq += "</div>"
              maq += "<p class=\"mb-1\">"+ ase.description +"</p>"
              maq += "<small>" + ase.days + "</small>"
            maq += "</a>"
          maq += "</div>"
          $("#"+ ele).append(maq);
        }
      })
    }

    //Editar info
    $("#desc").on("click",()=>{
      let newDesc = $("div").eq(6).html();
      $.ajax({
        url: "/desc",
        data: {
          new : newDesc,
        },
        method: "put"
      })
      .done(()=>{
        swal({title: "Se actualizó tu descripción", icon: "success"});
      })
      .fail(()=>{ swal({ title: "No se puede actualizar en este momento, intenta más tarde", icon: "error" }); });
    });

    //Cambiar conraseña
    $("#change").click(()=>{
      pass = $("#pass").val();
      newPass = $("#newpass").val();
      newPass2 = $("#newpass2").val();

      if(pass != ""){
        if (newPass2 == newPass) {
          if (newpass == ""){ //Ni idea de porqué es igual
            $.ajax({
              url : "/pass",
              data: {
                new : newPass,
                old : pass,
              },
              method: "put"
            })
            .done((resp)=>{
              if(resp != "bep"){
                swal({title: "Se actualizó tu contraseña", icon: "success"});
                ("#modalPass").modal("hide")
              } else
                swal({ title: "Contraseña incorrecta", icon: "error" });
            })
            .fail(()=>{ swal({ title: "No se puede actualizar en este momento, intenta más tarde", icon: "error" });});
          } else
              $(".news").attr({"class":"form-control is-invalid"});
        } else
            swal({ title: "Las contraseñas no coinciden", icon: "error" });
      } else
          $("#pass").attr({"class":"form-control is-invalid","style":"color:red"});

    });
  </script>
</html>
