<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/perfil.css">
  </head>
  <body>
    <body style="background: #f4f3ee;">
      <div id="dv_user"><i id="icon_user" class="fa fa-user-circle" style="font-size:80px;color:#463f3a"></i></div>
      <div id="me">Yo</div>
      <div id="info">
        <div id="dv_desc"><button id="desc" class="btn btn-primary camb">Actualizar descripción</button></div>
        <div><i class="fa fa-hashtag" style="font-size:32px;color:#f4f3ee"></i><%= user.id %></div>
        <div><i class="fa fa-user" style="font-size:32px;color:#f4f3ee"></i> <%= user.name %></div>
        <!-- <div> -->
        <i class="fa fa-angellist" style="font-size:32px;color:#f4f3ee"></i> Mi descripción:
          <div contenteditable="true"id="newDesc">
              <%= user.description %>
          </div>
        <!-- </div> -->
        <button class="btn btn-primary camb" data-toggle="modal" data-target="#modalPass">Cambiar contraseña</button>
      </div>
      <div>
        <div class="container elemPerfil" id="solis">
          <div class="modal-header">
            <h5 class="modal-title">Solicitudes de asesorías: </h5>
          </div>
        </div>
        <div class="container elemPerfil" id="porTomar">
          <div class="modal-header">
            <h5 class="modal-title">Asesorías en las que estás inscrito:</h5>
          </div>
        </div>
        <div class="container elemPerfil" id="porDar">
          <div class="modal-header">
            <h5 class="modal-title">Asesorías creadas:</h5>
          </div>
          Haz click en alguna asesoría para ver las solicitudes de ésta
        </div>
      </div>
    <!-- Modal para cambiar contraseña -->
    <div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cambiar contraseña</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="pass" class="col-sm-2 col-form-label">Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="pass" placeholder="Password"/>
              </div>
            </div><div class="form-group row">
              <label for="newpass" class="col-sm-2 col-form-label">Nueva contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control news" id="newpass" placeholder="Password"/>
                <small class="form-text text-muted">Mínimo 8 caracteres</small>
              </div>
            </div><div class="form-group row">
              <label for="newpass2" class="col-sm-2 col-form-label">Confimar contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control news" id="newpass2" placeholder="Password"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary camb" id="change">Cambiar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/perfil.js"></script>
</html>
