<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="../../assets/styles/perfil.css">
  </head>
  <body>
    <div id="info">
      <div><%= user.id %> </div>
      <div ><%= user.name %> </div>
      <div contenteditable="true"><%= user.description %> </div>
      <button id="desc" class="btn btn-primary camb">Actualizar descripción</button>
      <button class="btn btn-primary camb" data-toggle="modal" data-target="#modalPass">Cambiar contraseña</button>
    </div>
    <div class="container elemPerfil" id="solis">
    </div>
    <div class="container elemPerfil" id="porTomar">
      <div class="modal-header">
        <h5 class="modal-title">Asesorías en las que estás inscrito:</h5>
      </div>
    </div>
    <div class="container elemPerfil" id="porDar">
      <div class="modal-header">
        <h5 class="modal-title">Asesorías creadas:</h5>
      </div>
    </div>

    <!-- Modal para cambiar contraseña -->
    <div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cambiar contraseña</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="pass" class="col-sm-2 col-form-label">Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="pass" placeholder="Password">
              </div>
            </div><div class="form-group row">
              <label for="newpass" class="col-sm-2 col-form-label">Nueva contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control news" id="newpass" placeholder="Password">
              </div>
            </div><div class="form-group row">
              <label for="newpass2" class="col-sm-2 col-form-label">Confimar contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control news" id="newpass2" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="change">Cambiar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../../assets/profile.js"></script>
</html>
